.logo-wrapper {
  position: relative;
  width: 320px;
}

/*LOGO IMAGE */
.logo-image {
  width: 100%;
  display: block;
  opacity: 0.35;
  position: relative;
  z-index: 2;

  animation: glowPulse 4s ease-in-out infinite;
}


.logo-gradient {
  position: absolute;
  inset: 0;
  z-index: 3;
  pointer-events: none;

  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.85) 20%,
    rgba(0, 0, 0, 0.4) 45%,
    rgba(0, 0, 0, 0) 65%
  );
}


@keyframes glowPulse {
  0% {
    filter: drop-shadow(0 0 6px rgba(0, 255, 255, 0.25));
  }
  50% {
    filter: drop-shadow(0 0 14px rgba(0, 255, 255, 0.45));
  }
  100% {
    filter: drop-shadow(0 0 6px rgba(0, 255, 255, 0.25));
  }
}
